---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero";
import WhyUs from "@components/Whyus";
import Services from "@components/Services";
import { CTA } from "@components/CTA";
import ContactForm from "@components/Contact";
import ValueProposition from "@components/ValueProposition";
---
<MainLayout>
  {/* Hero Section */}
  <section id="home" class=" h-screen w-full">
    <Hero client:only="react" />
  </section>

  {/* Why Us Section */}
  <section id="why-us" >
    <div class="hidden md:flex h-screen w-full overflow-hidden bg-primary-500  items-center justify-center relative">
      <WhyUs client:only="react" />
    </div>
    <div class="md:hidden py-24 block h-full bg-primary-500  relative">
        <ValueProposition />
    </div>
  </section>
  {/* Services Section */}
  <section  class="w-full">
    <CTA />
  </section>
  <section id="services" class="relative  min-h-screen py-16 bg-primary-500 flex items-center justify-center overflow-hidden">
    <Services />
  </section>
  
  {/* Contact Section */}
  <section id="contact" class=" relative min-h-screen flex justify-center items-center mx-auto">
    <ContactForm /> 
  </section>
</MainLayout>
